/* ------------------------- General Styling ----------------------- */

/* change color of selection */
::selection {
  background: #BFEADA; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #BFEADA; /* Gecko Browsers */
}

/* ------------------------- Header Section ----------------------- */
/* header box */
.header {
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px solid #DCDCDC;
  flex-wrap: wrap;
}

/* header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

/* right side of the header */
.header-right {
  float: right;
}

/* name on the left of the header */
#name{
  font-size:20px;
  margin-left: 30px;
}

 @media only screen and (max-width: 600px) {
   #name{
     font-size:20px;
     margin-left: 5px;
   }
 }
/* ------------------------- Intro.Body Section ----------------------- */
body{
  padding: 30px;
}

div{
  font-family: "Roboto Mono", Helvetica Neue,Helvetica,sans-serif;
}

/* all links */
a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #DCDCDC;
  text-decoration: none;
}

#intro{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 24px;
  border-bottom: 1px solid #DCDCDC;
  line-height:32px;
}
 @media only screen and (max-width: 600px) {
   #intro{
     padding-top: 50px;
     padding-left: 20px;
     font-size: 24px;
     border-bottom: 1px solid #DCDCDC;
     line-height:32px;
   }
   body{
     padding: 20px;
   }
 }
/* ------------------------- Projects.Body Section ----------------------- */
#hobby{
  border-bottom: 1px solid black;
}

/* larger project div */
#projects{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* individual projects */
#project{
  width: 175px;
  height:175px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}
/* ------------------------- Footer ----------------------- */
#footer{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 12px;
  border-top: 1px solid #DCDCDC;
}

/* -------------------------------------------------------- */
/* Contact Page */
/* -------------------------------------------------------- */
#contactcontent{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

@media only screen and (min-width: 601px){
  #cartoonParul{
    padding-right: 50px;
    padding-left: 50px;
    width: 320px;
  }

  .contactboxes{
    margin: 20px;
    padding-top: 80px;
    flex-wrap: wrap;
  }
}

 /* for mobile */
 @media only screen and (max-width: 600px) {
   #cartoonParul{
     width: 300px;
   }

   .contactboxes{
     margin: 5px;
     flex-wrap: wrap;
   }
 }
/* -------------------------------------------------------- */
/* Design Page */
/* -------------------------------------------------------- */
@media only screen and (min-width: 601px){
  #designcontent{
    margin: 30px;
    padding-left: 50px;
  }

  #design{
    display: block;
    height: 100%;
    max-width: 800px;
  }
}
 /* for mobile */
@media only screen and (max-width: 600px) {
    #design {
        max-width: 300px;
        display: block;
        padding: 5px;
    }
}
/* -------------------------------------------------------- */
/* Project Page */
/* -------------------------------------------------------- */
@media only screen and (min-width: 601px){
  #projectTitle{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
  }
  #projectContent{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-size: 14px;
  }
  #causalpathway{
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #slums{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #charts{
    max-width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
 /* for mobile */
@media only screen and (max-width: 600px) {
  #projectTitle{
    margin-top: 20px;
    font-size: 14px;
  }

  #projectContent{
    display: block;
    margin-top: 20px;
    font-size: 12px;
  }
  #charts{
    max-width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
