/* ------------------------- General Styling ----------------------- */

/* change color of selection */
::selection {
  background: #BFEADA; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #BFEADA; /* Gecko Browsers */
}

/* all links */
a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #DCDCDC;
  text-decoration: none;
}
/* ------------------------- Header Section ----------------------- */
/* header box */
.header {
  overflow: hidden;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

/* header links */
.header a {
  float: left;
  color: #23B1A5;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover{
  color: #DCDCDC;
  text-decoration: none;
}

/* contact on right side of the header */
.header-right {
  float: right;
}

/* name on the left of the header */
#name{
  font-size:30px;
  margin-left: 30px;
}

/* for mobile */
 @media only screen and (max-width: 600px) {
   #name{
     font-size:20px;
     margin-left: 5px;
   }
 }
/* ------------------------- Intro.Body Section ----------------------- */

body{
  padding: 30px;
}

div{
  font-family: 'Roboto Mono', monospace;
}

#intro{
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 16px;
  line-height:24px;
}

/* for mobile */
 @media only screen and (max-width: 600px) {
   #intro{
     width: auto;
     padding-top: 20px;
     padding-left: 20px;
     font-size: 14px;
     line-height: 20px;
   }
   body{
     padding: 20px;
   }
 }

 /* drawing and graphic design */
 #hobby{
   text-decoration: underline;
   text-decoration-color: #BFEADA;
   color: #23B1A5;
 }
 #hobby:hover{
   color: #DCDCDC;
   text-decoration: none;
 }
/* ------------------------- Projects.Body Section ----------------------- */

/* larger project div */
#projects{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border-top: 1px solid #BFEADA;
}

/* individual projects */
#project{
  width: 175px;
  height:175px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

/* Adding hover items to individual projects */
#project .skills{
  padding-top: 60px;
  visibility:hidden;
  font-size:14px;
}

#project:hover .skills{
  padding-top: 60px;
  visibility:visible;
  color: #23B1A5;
  font-size:14px;
}

/* Adding hover items to individual projects - for projects with extra lines */
#project .skills2{
  padding-top: 40px;
  visibility:hidden;
  font-size:14px;
}

#project:hover .skills2{
  padding-top: 40px;
  visibility:visible;
  color: #23B1A5;
  font-size:14px;
}


/* ------------------------- Footer ----------------------- */
#footer{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 12px;
  border-top: 1px solid #FDB44B;
}

/* -------------------------------------------------------- */
/* Contact Page */
/* -------------------------------------------------------- */
#contactcontent{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

/* for mobile */
@media only screen and (min-width: 601px){
  #cartoonParul{
    padding-right: 50px;
    padding-left: 50px;
    width: 320px;
  }

  .contactboxes{
    margin: 20px;
    padding-top: 80px;
    flex-wrap: wrap;
    font-size: 18px;
  }
}

 /* for mobile */
 @media only screen and (max-width: 600px) {
   #cartoonParul{
     width: 300px;
   }

   .contactboxes{
     margin: 5px;
     flex-wrap: wrap;
   }
 }
/* -------------------------------------------------------- */
/* Design Page */
/* -------------------------------------------------------- */

/* for mobile */
@media only screen and (min-width: 601px){
  #designcontent{
    margin: 30px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  #design{
    height: 100%;
    max-width: 400px;
    display: block;
    padding: 5px;
  }
}
 /* for mobile */
@media only screen and (max-width: 600px) {
    #design {
        max-width: 300px;
        display: block;
        padding: 5px;
        display: block;
    }
}
/* -------------------------------------------------------- */
/* Project Pages */
/* -------------------------------------------------------- */

/* for mobile */
@media only screen and (min-width: 601px){
  #projectTitle{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
  }
  #projectContent{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-size: 14px;
  }
  #causalpathway{
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #slums{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #charts{
    max-width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
 /* for mobile */
@media only screen and (max-width: 600px) {
  #projectTitle{
    margin-top: 20px;
    font-size: 14px;
  }

  #projectContent{
    display: block;
    margin-top: 20px;
    font-size: 12px;
  }
  #charts{
    max-width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
