/* ------------------------- General Styling ----------------------- */
body{
    margin:auto;
    max-width:1000px;
    padding-top: 50px;
    padding-left:50px;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 660px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* change color of selection */
::selection {
    background: #F8C3DA; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #F8C3DA; /* Gecko Browsers */
}

/* all links */

a{
    color: #D93A95;
    text-decoration: none;
}

a:hover{
    color: #00B7EC;
    text-decoration: none;
}

/* ------------------------- Header --------------------------- */
#parul{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 64px;
}
#description{
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
}
@media only screen and (max-width: 660px) {
    #parul {
        padding-top: 75px;
        padding-bottom: 10px;
        font-size: 40px;
    }
}
/* ------------------------- Projects --------------------------- */
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#projectimage{
    display: block;
    height: auto;
    max-width: 85%;
    margin-left: 25px;
    padding: 50px 0px 0px 0px;
}

/* for mobile */
@media only screen and (max-width: 660px) {

  #projects{
      width: 600px;
  }

    #projectimage {
        max-width: 85%;
        margin-left: 0px;
        padding: 20px 0px 0px 0px;
    }
}
/* ------------------------- Footer --------------------------- */
footer{
    margin-top: 100px;
    font-size: 10px;
}
