/* ------------------------- Desktop ----------------------- */
body {
  font-family: "Open Sans", sans-serif;
  display: block;
  /* This will restrict the width of the content.
  Max-width makes it so that it is fluid UNTIL it gets to Xpx*/
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header{
  padding-top: 80px;
  padding-bottom: 20px;
}

h1 {
  margin: auto auto 0 auto;
  font-size: 72px;
  font-weight: 300;
}
h2 {
  margin: 0 auto 32px auto;
  font-size: 36px;
  font-weight: 200;
}

img {
  max-width: 100%;
}

footer {
  margin-top: 80px;
  font-size: 12px;
}
/* ------------------------- Mobile ----------------------- */
@media (max-width: 1200px) {
  body {
    margin: 150px auto 10px auto;
    padding: 0 40px 0 40px;
  }
  header{
    padding: 0px
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
    padding: 0 0 36px 0;
  }
}
